@page "/search"

@using Article.Portal.Domain
@using Article.Portal.Business.Services.SearchArticleSummaries

@inject ISearchArticleSummariesService searchArticleSummariesService

<h1>Search Articles</h1>

@if (searchingArticleSummaries)
{
    <p><em>Searching ...</em></p>
}
else if (!string.IsNullOrEmpty(errorMessage))
{
    <p><em>Failed to search articles (@errorMessage) ...</em></p>
}
else if (articleSummaries == null || articleSummaries.Count() == 0)
{
    <p><em>No articles found</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Publication Date (UTC)</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var articleSummary in articleSummaries)
            {
                <tr>
                    <td>@articleSummary.Author</td>
                    <td>@articleSummary.Title</td>
                    <td>@articleSummary.PublicationUtcDate</td>
                    <td>@articleSummary.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    bool searchingArticleSummaries = false;
    string errorMessage = default(string);

    IEnumerable<ArticleSummary> articleSummaries;

    protected override async Task OnInitAsync()
    {
        await SearchArticleSummariesAsync();
    }

    private async Task SearchArticleSummariesAsync()
    {
        searchingArticleSummaries = true;

        try
        {
            articleSummaries = await searchArticleSummariesService.SearchArticleSummariesAsync(string.Empty);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
        finally
        {
            searchingArticleSummaries = false;
        }
    }
}
